html { width: auto; }
body {
  background: #f1f5f6;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0 gray;
  color: #505050;
  font: 84% Arial, sans-serif;
  margin: 30px auto 10px auto;
  padding: 10px;
  width: 500px;
}
header { 
  font-size: 20px;
  font-weight: bold;
  height: 36px;
  padding-top: 12px;
  text-align: center;
}
header:after {
  border-radius: 5px;
  background: url('/images/icon_48.png');
  box-shadow: 0 0 5px 0 gray;
  content: '';
  display: block;
  height: 48px;
  margin: -37px 0 0 100px;
  width: 48px;
}
h1 {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d2d6d7), to(#d3d4d6));
  box-shadow: 0 1px 0 0 #fdfeff;
  color: #595a5c;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 5px;
  margin: 14px -11px 4px -11px;
  text-align: center;
  text-shadow: #f9fafc 0 1px 1px;
} 
#options:after {content: "__MSG_options__";}
#keys:after {content: "__MSG_keys__";}
input {
  float: right;
  margin-left: -20px; 
}
input[type="number"] {
  width: 40px;
  margin: -2px 0 0 -50px;
}
label {
  float: left;
  width: 100%;
}
label[for="scrobble"]:after {content: "__MSG_scrobble__";}
label[for="notification"]:after {content: "__MSG_notification__";}
label[for="seconds"]:after {content: "__MSG_seconds__";}
p {
  height: 20px;
  padding: 0 10px;
}
#shortcut_play:after {content: "__MSG_play__";}
#shortcut_stop:after {content: "__MSG_stop__";}
#shortcut_random:after {content: "__MSG_random__";}
a {
  float: right;
  padding-left: 10px;
}
a.del:after {content:"__MSG_del__";}
a.edit:after {content:"__MSG_edit__";}
a:hover {text-decoration: underline;}
span { 
  color: #828282;
  float: right;
  text-align: center;
  width: 220px;
}
span.empty:after { content: "__MSG_empty__"; }
.note {
  color: #888;
  font-size: 12px;
}
.note:after {content: "__MSG_note__";}
.hidden { display: none;}
