<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="css/global.css"/>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="css/light.css"/>
    <script type="text/javascript" charset="utf-8" src="js/lib/tmpl.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/popup.js"></script>
    <title>Frodio Player</title>

    <script type="text/html" id="last_station">
      <li class="<%=class%>">
        <div class="item" <%=events%>>
          <%= chrome.i18n.getMessage('random') %>
          <span class="track" id="random_station"><%= chrome.i18n.getMessage('random_text', count+"") %></span>
        </div>
      </li>
    </script>

    <script type="text/html" id="station">
      <li class="list">
        <div class="item" <%=events%>>
          <a class="link" href="http://<%=link%>.frodio.com/" target="_blank" title="<%= chrome.i18n.getMessage('goto_station') %>">
            <%= chrome.i18n.getMessage('open') %>
          </a>
          <%=title%>
          <span class="track" id="station_<%=link%>"><%=track%></span>
        </div>
      </li>
    </script>

    <script type="text/html" id="table_station">
      <li class="table">
        <div class="item" <%=events%> title="<%=title%>\n<%=track%>" id="t_station_<%=link%>">
          <img src="<%=img%>" width="62" height="25" alt/>
        </div>
      </li>
    </script>

    <script type="text/html" id="stations_list">
      <ul class="stations">
        <%=station%>
      </ul>
    </script>

    <script type="text/html" id="options">
      <div id="player_options">
        <div class="option_button rounded_left">
          <a id="to_fav" class="<%=active%>" <%=like_events%> title="<%= chrome.i18n.getMessage(title) %>">
            <img src="/images/sp.gif" width="30" height="27"/>
          </a>
        </div>
        <div class="option_button rounded_right">
          <a id="share_t" href="<%=share_t%>" target="_blank" title="<%= chrome.i18n.getMessage('share', 'twitter') %>">
            <img src="/images/t.png" width="24" height="23"/>
          </a>
        </div>
        <div class="option_button rounded_right">
          <a id="share_f" href="<%=share_f%>" target="_blank" title="<%= chrome.i18n.getMessage('share', 'facebook') %>">
            <img src="/images/f.png" width="24" height="23"/>
          </a>
        </div>
        <div class="option_button rounded_right">
          <a id="share_g" href="<%=share_g%>" target="_blank" title="<%= chrome.i18n.getMessage('share', 'google buzz') %>">
            <img src="/images/g.png" width="24" height="23"/>
          </a>
        </div>
        <div class="option_button rounded_right">
          <a id="share_v" href="<%=share_v%>" target="_blank" title="<%= chrome.i18n.getMessage('share', 'вконтакте') %>">
            <img src="/images/v.png" width="24" height="23"/>
          </a>
        </div>
      </div>
    </script>

    <script type="text/html" id="player_inner">
      <div id="player_station">
        <a href="http://<%=link%>.frodio.com/" target="_blank" title="<%=title%>"><%=title%></a>
      </div>
      <div id="player_info">
        <div id="player_links">
          <a href="<%=track_link%>" target="_blank" id="player_pic" title="<%= chrome.i18n.getMessage('goto_track') %>">
            <img src="<%=track_pic%>" width="35" height="35" alt="" />
          </a>
          <%=options%>
        </div>
        <div id="player_track" title="<%=track%>"><%=track%></div>
        <div id="player_artist" title="<%=artist%>"><%=artist%></div>
      </div>
    </script>

    <script type="text/html" id="body_inner">
      <div id="player">
        <div id="player_tools">
          <a id="player_button"></a>
          <div id="player_volume">
            <input type="range" min="0.0" max="1.01" value="<%=volume%>" step="0.01" id="player_volume_range" list="values"/>
            <datalist id="values">
              <option value="0">
              <option value="0.25">
              <option value="0.5">
              <option value="0.75">
              <option value="1">
            </datalist>
          </div>
        </div>
        <div id="player_content"></div>
      </div>
      <div id="stations"></div>
      <div id="menu">
        <div id="sort" class="menu">
          <div id="sort_1" class="left <%=active_1%>" title="<%= chrome.i18n.getMessage('sort_by_popular') %>"><span>Popular</span></div>
          <div id="sort_2" class="center <%=active_2%>" title="<%= chrome.i18n.getMessage('sort_by_abc') %>"><span>Abc</span></div>
          <div id="sort_3" class="right <%=active_3%>" title="<%= chrome.i18n.getMessage('sort_by_order') %>"><span>Order</span></div>
        </div>
        <div id="view" class="menu">
          <div id="view_0" class="left <%=active_4%>" title="<%= chrome.i18n.getMessage('view_like_list') %>"><span>List</span></div>
          <div id="view_1" class="right <%=active_5%>" title="<%= chrome.i18n.getMessage('view_like_table') %>"><span>Table</span></div>
        </div>
      </div>
    </script>

    <script type="text/html" id="body">
      <header> #
        <a href="http://frodio.com/" target="_blank" title="<%= chrome.i18n.getMessage('goto_site', 'Frodio.com') %>">
          Frodio - Social Radio System
        </a>
        <a href="" target="_blank" title="<%= chrome.i18n.getMessage('open_in_tab') %>">#</a>
      </header>
      <%=body_inner%> 
    </script>
    
  </head>
  <body onload="popupOnLoad()">
    JavaScript and Flash are needed for this extension
  </body>
</html>
